version: 2.1

jobs:
  build-and-test:
    docker:
      - image: cimg/node:18.19
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-npm-deps-{{ checksum "package-lock.json" }}
            - v1-npm-deps-
      - run:
          name: Install Dependencies
          command: npm ci
      - save_cache:
          key: v1-npm-deps-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
      - run:
          name: Run Tests
          command: npm test
      - run:
          name: Build Application
          command: npm run build
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: coverage
          destination: coverage-report
      - store_artifacts:
          path: dist
          destination: build-output

workflows:
  build:
    jobs:
      - build-and-test
